<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78aa4fa4-ba9f-469c-bcc6-b7b623ceddb0" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the main page type for this website. You will build your content using the block grid</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="36969805-399b-48a3-ab8d-f05af55b792e">contentProperties</Composition>
      <Composition Key="7f4ddc2b-abeb-4bd5-a11f-7f0aa0b39763">headerProperties</Composition>
      <Composition Key="f6ade581-2402-4a72-88a2-31079b16c8ca">sEOProperties</Composition>
      <Composition Key="df429e12-b67d-4928-855d-d3bb214be2d4">taggingPropeties</Composition>
      <Composition Key="f68d2d8c-d357-40b6-9b00-5bececbc3c57">visibillityPropeties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a1a9cd9c-e1ba-4e52-b201-d312fa9f1480">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>