<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e618a838-59e8-44c3-b93e-a30ad24c1675" Alias="reusableContentRepository" Level="2">
  <Info>
    <Name>Reusable Content Repository</Name>
    <Icon>icon-files color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="76feeeaf-85bb-4872-a1c4-bc07d8585ac9" SortOrder="0">reusableContentItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>