<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f75fc719-b9dc-4096-9cef-ee91fcdd5a88" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="f6ade581-2402-4a72-88a2-31079b16c8ca">sEOProperties</Composition>
      <Composition Key="df429e12-b67d-4928-855d-d3bb214be2d4">taggingPropeties</Composition>
      <Composition Key="f68d2d8c-d357-40b6-9b00-5bececbc3c57">visibillityPropeties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="53c86479-20d8-4741-a207-5e3a9c089ec7">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>