<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="207b22a0-4517-4f25-84db-c3ab2667160b" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="280af5e8-f76f-4416-9411-4a3c90eac5bb">footerProperties</Composition>
      <Composition Key="35805963-9ec5-4818-891a-1f9b87bfca74">mainNavigationProperties</Composition>
      <Composition Key="254158ef-71d3-4637-bf04-4e4ac4041464">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9610d2af-5ef9-4898-84f3-10fe42ddd750" SortOrder="0">pageTags</ContentType>
    <ContentType Key="e618a838-59e8-44c3-b93e-a30ad24c1675" SortOrder="1">reusableContentRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>