<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df429e12-b67d-4928-855d-d3bb214be2d4" Alias="taggingPropeties" Level="2">
  <Info>
    <Name>Tagging Propeties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2cc5c8a1-fa63-46d2-8c30-7fa99961f685</Key>
      <Name>Page Tags</Name>
      <Alias>pageTags</Alias>
      <Definition>cc10c3b9-7b00-4e6b-a4d2-fa910f85a571</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the tags for this page]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="pageSettings/tagging">Tagging</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>503fb8a7-6b46-4ae7-b76a-9f74c3618fc6</Key>
      <Caption>Tagging</Caption>
      <Alias>pageSettings/tagging</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>ea029f7b-aa6b-40d9-8167-bfe29e9d2dbd</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>60</SortOrder>
    </Tab>
  </Tabs>
</ContentType>