<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3d18998-38f5-4438-892d-26527f83560c" Alias="[BlockGrid] - Footer Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Footer Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "2479a577-79d6-439e-b90c-35df3ee52073",
      "name": "Layout"
    },
    {
      "key": "eedbda4d-cf79-4dbf-bf53-63debfd053c8",
      "name": "Modules"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "09373756-e17b-4cdc-b742-cabff28409cd",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "12f25f03-31a0-4e9b-9a50-7fd43d30248d",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "51b40bcb-e427-4d92-b9d9-81fb0e096366",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "middle",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "4c03d37c-87df-4a90-b2ee-c4fb8757aaed",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "12f25f03-31a0-4e9b-9a50-7fd43d30248d",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "51b40bcb-e427-4d92-b9d9-81fb0e096366",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add footer content",
          "key": "a49f1986-6efd-4235-899f-c32e76561a00",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "12f25f03-31a0-4e9b-9a50-7fd43d30248d",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            },
            {
              "elementTypeKey": "51b40bcb-e427-4d92-b9d9-81fb0e096366",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "372ad407-211b-4365-9a64-58154b25f9aa",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "2479a577-79d6-439e-b90c-35df3ee52073",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "12f25f03-31a0-4e9b-9a50-7fd43d30248d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "eedbda4d-cf79-4dbf-bf53-63debfd053c8",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "51b40bcb-e427-4d92-b9d9-81fb0e096366",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "eedbda4d-cf79-4dbf-bf53-63debfd053c8",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>