<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da2320af-29dc-479a-bc4c-cc76fb1ec7e6" Alias="[BlockGrid] - Main Content" Level="2">
  <Info>
    <Name>[BlockGrid] - Main Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "488e08e8-4d9a-4f1a-a841-845968d67686",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "d289b1ab-1a03-4404-9fd3-bf6434689ffc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/imagelink.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "title",
          "columnSpan": 12,
          "createLabel": "Add Title",
          "key": "83828b2f-816f-40b1-86f7-535892d55e9b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "8654fdab-9be9-445f-a475-2ab0919fc883",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "image-links",
          "columnSpan": 12,
          "createLabel": "Add image Links",
          "key": "9c952b49-dd51-42bd-8376-e82c00436f8b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "d289b1ab-1a03-4404-9fd3-bf6434689ffc",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "54b41317-7eea-4ea2-be9b-a8fa6110d7b1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "8654fdab-9be9-445f-a475-2ab0919fc883",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/title.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "35f77336-79e6-45cb-854d-108552ed5800",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGridPreviews/iconlink.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "8a3169a8-01d5-4ac3-be82-2bd3c1232734",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "title",
          "columnSpan": 12,
          "createLabel": "Add a title",
          "key": "cd17ecdf-725d-4575-a0fa-607e4b895cc5",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "8654fdab-9be9-445f-a475-2ab0919fc883",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "content",
          "columnSpan": 12,
          "createLabel": "Add some content",
          "key": "76f9bc19-337f-46a7-864b-3928a48d024c",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "488e08e8-4d9a-4f1a-a841-845968d67686",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "link",
          "columnSpan": 12,
          "createLabel": "Adda link",
          "key": "913ed86f-0745-4a2f-84c6-08cfc65eabab",
          "maxAllowed": 1,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "35f77336-79e6-45cb-854d-108552ed5800",
              "groupKey": null,
              "maxAllowed": 1,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2f8e43ee-a61b-439b-939c-c6d4eae312b8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2fb8a145-e918-4687-a512-28750496ad58",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{$layout.$block.content.contentTypeName}}: {{ contentItem | ncNodeName }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>