<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c72e14d7-4204-4c53-b3a7-71df731f94d4" Alias="[ColorPicker] - White or Secondary" Level="1">
  <Info>
    <Name>[ColorPicker] - White or Secondary</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"2c3e50\",\"label\":\"Secondary\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>