<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c74f8824-573d-4179-9dc9-fb989cc82d8a" Alias="Home Page - Colour 1 - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Home Page - Colour 1 - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>