<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc10c3b9-7b00-4e6b-a4d2-fa910f85a571" Alias="[MNTP] - Page Tag Picker" Level="2">
  <Info>
    <Name>[MNTP] - Page Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "pageTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "39799df1-f747-45db-a774-8df7e41da411"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "9610d2af-5ef9-4898-84f3-10fe42ddd750"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>