<?xml version="1.0" encoding="utf-8"?>
<DataType Key="920ecd21-25a7-4330-a89d-8d79c563a78e" Alias="[Toggle] Default True" Level="2">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>